.logo {
  display: flex;
  width: 225px;
  align-items: center;
  font: var(--h4-desktop);
  color: var(--text-dark-bg);
}

.logo__text {
  margin-left: 10px;
}

.sidebar--collapsed .logo {
  width: 65px;
}

.sidebar--collapsed .logo__image {
  display: block;
  margin: 0 auto;
}