@import url("./variables.module.css");
@import url("./react-datepicker-dark-overrides.css");

body {
  font-family: var(--font-primary);
  background-color: var(--bg-light);
  color: var(--text-light-bg);
}