.landing-navbar {
  background-color: var(--bg-dark);
  height: 99px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 162px 0 162px;
}

.navbar-container__logo {
  display: flex;
  align-items: center;
  font-size: var(--h4-desktop-size);
  font-weight: var(--p1-desktop-weight);
  color: var(--text-dark-bg);
}

.navbar-container__logo img {
  height: 48px;
  margin-right: 8px;
}

.navbar-container__links {
  display: flex;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-container__link {
  text-decoration: none;
  font-size: var(--p1-desktop-size);
  font-weight: 500;
  color: var(--text-dark-bg);
  transition: color 0.3s ease;
}

.navbar-container__link:hover {
  color: var(--cta);
}