.admin-panel {
  display: flex;
  height: 100vh;
}

.admin-content {
  flex: 1;
  padding: 30px 50px 43px 43px;
  background-color: var(--admin-bg-dark);
  color: #e0e0e0;
  overflow-y: auto;
}

.clients__title,
.products__title,
.users__title,
.profile__title,
.clients__content,
.products__content,
.users__content,
.profile__content,
.movements__content {
  background-color: var(--secondary-bg-admin-panel);
  padding: 21px 40px;
  border-radius: 4px;
}

.movements__title {
  margin: 0;
}

.section__header {
  display: flex;
  justify-content: space-between;
  max-height: 80px;
  background-color: var(--secondary-bg-admin-panel);
  padding: 21px 40px;
  border-radius: 4px;
  margin: 21px 0;
}

.clients__content,
.products__content,
.users__content,
.profile__content {
  min-height: calc(100vh - 297px);
}