.admin-panel {
  display: flex;
  height: 100vh;
}

.admin-content {
  flex: 1;
  padding: 30px 50px 43px 43px;
  background-color: var(--admin-bg-dark);
  color: #e0e0e0;
  overflow-y: auto;
}

.clients__title,
.products__title,
.users__title,
.clients__content,
.products__content,
.users__content {
  background-color: var(--secondary-bg-admin-panel);
  padding: 21px 40px;
  border-radius: 4px;
}

.clients__content,
.products__content,
.users__content {
  height: calc(100vh - 297px);
}